<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <style>
        table, td, th {
          border-collapse: collapse;
          border: 1px solid black;
          text-align:center;
        }
        @page {
            size: A4 landscape;
            margin: 20px 10px 50px 10px;
            padding-top: 32px;

            @top-center { content: element(title); };
            @bottom-right { content: element(footer); };
        }
        .footer {
            display: block;
            margin-top: 10px;
            position: running(footer);
            width: 100%;
            text-align: center;
         }

        .pagenumber:before { content: counter(page); }
        .pagecount:before { content: counter(pages); }

        .title {
            display: block;
            margin-top: 10px;
            position: running(title);
            width: 100%;
            text-align: center;
        }
</style>
</head>
<body>
<h1 class="title">STOCK MANAGEMENT SYSTEM</h1>
<div class="footer">
    <span>Page <span class="pagenumber"></span> of <span class="pagecount"></span></span>
    <span>| Generated on {{currDate}}</span>
</div>

<h3>TRANSACTIONS FROM {{startDate}} TO {{endDate}}</h3>
<table>
    <tr>
        <th>NUM</th>
        <th>ID</th>
        <th>CUSTOMER ID</th>
        <th>PAYMENT ID</th>
        <th>DATE</th>
        <th>PAYMENT STATUS</th>
        <th>DETAILS</th>
        <th>TOTAL</th>
        <th>NOTE</th>
        <th>DATA LAST UPDATED</th>
    </tr>
    {{#transactions}}
    <tr>
        <td>{{@index}}</td>
        <td>{{id}}</td>
        <td>{{customerId}}</td>
        <td>{{paymentId}}</td>
        <td>{{transactionDate}}</td>
        <td>{{paymentStatus}}</td>
        <td>
            <table>
                <tr>
                    <th>ITEM CODE</th>
                    <th>PRICE</th>
                    <th>QUANTITY</th>
                    <th>SUBTOTAL</th>
                    <th>NOTE</th>
                </tr>
                {{#transactionDetails}}
                <tr>
                    <td>{{itemCode}}</td>
                    <td>{{price}}</td>
                    <td>{{quantity}}</td>
                    <td>{{subTotal}}</td>
                    <td>{{note}}</td>
                </tr>
                {{/transactionDetails}}
            </table>
        </td>
        <td>{{total}}</td>
        <td>{{note}}</td>
        <td>{{timestamp}}</td>
    </tr>
    {{/transactions}}
</table>

</body>
</html>