<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <style>
        table, td, th {
                  border-collapse: collapse;
                  border: 1px solid black;
                  text-align:center;
                }
                @page {
                    size: A4 landscape;
                    margin: 20px 10px 50px 10px;
                    padding-top: 32px;

                    @top-center { content: element(title); };
                    @bottom-right { content: element(footer); };
                }
                .footer {
                    display: block;
                    margin-top: 10px;
                    position: running(footer);
                    width: 100%;
                    text-align: center;
                 }

                .pagenumber:before { content: counter(page); }
                .pagecount:before { content: counter(pages); }

                .title {
                    display: block;
                    margin-top: 10px;
                    position: running(title);
                    width: 100%;
                    text-align: center;
                }
    </style>
</head>
<body>
<h1 class="title">STOCK MANAGEMENT SYSTEM</h1>
<div class="footer">
    <span>Page <span class="pagenumber"></span> of <span class="pagecount"></span></span>
    <span>| Generated on {{currDate}}</span>
</div>

<h2>ITEM LIST</h2>

<table>
    <tr>
        <th>NUM</th>
        <th>ITEM CODE</th>
        <th>NAME</th>
        <th>STOCK</th>
        <th>PRICE</th>
        <th>TOTAL SOLD</th>
        <th>GENERATED REVENUE</th>
        <th>CAPACITY</th>
        <th>DESCRIPTION</th>
    </tr>
    {{#items}}
    <tr>
        <td>{{@index}}</td>
        <td>{{itemCode}}</td>
        <td>{{name}}</td>
        <td>{{stock}}</td>
        <td>{{price}}</td>
        <td>{{totalSold}}</td>
        <td>{{incomeAmount}}</td>
        <td>{{capacity}}</td>
        <td>{{description}}</td>
    </tr>
    {{/items}}
</table>

</body>
</html>